.header {
  background-color: yellow;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 20px;
}

.cart-icon {
  margin-right: 15px;
}

.cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FBFF00;
  border: 0;
}

.cart-button:hover {
  cursor: pointer;
}


.cart-button > span {
  font-size: 16px;
  margin-left: -10px;  /* gambiarra que tá funcionando */
}

.cart-link {
  text-decoration: none;
}